<div id="wrapper">
        <%- include ('./partials/sidebar') %>
        <div id="page-wrapper">
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-default outer">
                    <div class="panel-heading headerbar">
                      <h2 class="text-center">Appointments</h2>
                    </div>
                    <div class="panel-body text-justify">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        <div>
              <% if (message != '') { %>
                  <p class="text-center text-danger"><%= message %></p>
              <% } %>
            
              <div class="wrapperr wrapper--w680">
                <div class="cardd card-4">
                  <div class="card-body">
                    <form
                      class="add-patients-form"
                      action=""
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <div class="roww row-space">
                        <div class="col-3">
                          <div class="input-group">
                            <label class="label1">Patient UserName</label>
                            <input class="input--style-4" type="text" name="p_username" />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="input-group">
                            <label class="label1"> Doctor UserName</label>
                            <input class="input--style-4" type="text" name="d_username" />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="input-group">
                            <label class="label1">Date</label>
                            <input class="input--style-4" type="date" name="date" />
                          </div>
                        </div>
                      </div>
                      <div class="roww row-space">
                        <div class="col-2">
                          <div class="input-group">
                            <label class="label1">Method</label>
                            <div class="p-t-10">
                              <label class="radio-container m-r-45"
                                >Sync
                                <input type="radio" checked="checked" name="method" value="sync" />
                                <span class="checkmark"></span>
                              </label>
                              <label class="radio-container"
                                >Async
                                <input type="radio" name="method" value="async"/>
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="input-group">
                            <label class="label1">Branch</label>
                            <div class="p-t-10">
                              <label class="radio-container m-r-45"
                                >Karachi (HQ)
                                <input type="radio" checked="checked" name="branch" value="Karachi (HQ)"/>
                                <span class="checkmark"></span>
                              </label>
                              <label class="radio-container"
                                >Islamabad
                                <input type="radio" name="branch" value="Islamabad"/>
                                <span class="checkmark"></span>
                              </label>
                              <label class="radio-container"
                                >Silicon Valley
                                <input type="radio" name="branch" value="Silicon Valley"/>
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">
                          Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>      