<div id="wrapper">
        <%- include ('./partials/sidebar') %>
        <div id="page-wrapper">
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main">
              <div class="col-sm-12 col-md-12 well" id="content">
                <h1>Appointment</h1>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        <div>
              <% if (message != '') { %>
                  <p class="text-center text-danger"><%= message %></p>
              <% } %>
              <form class="add-appointment-form" action="" method="post" enctype="multipart/form-data">
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <input type="text" class="form-control" name="p_name" id="p_name" placeholder="Patient Name" required>
                      </div>
                      <div class="form-group col-md-4">
                          <input type="text" class="form-control" name="doctor" id="p_id" placeholder="Doctor Name" required>
                      </div>
                      <div class="form-group col-md-4">
                          <input type="number" class="form-control" name="p_id" id="p_id" placeholder="Patient Id" required>
                      </div>
                  </div>
                  <div class="form-row">
                        
                            <div class="form-group col-md-4">
                                <input type="number" class="form-control" name="d_id" id="d_id" placeholder="Doctor Id" required>
                            </div>
                            <div class="form-group col-md-4">
                                    <input type="date" class="form-control" name="date" id="date" placeholder="Date" required>
                            </div>
                  </div>
                  <div class="form-row">            
                  <div class="btn-group btn-group-toggle">
                      <input type="radio" name="method" value="sync"> sync<br>
                      <input type="radio" name="method" value="async"> aysnc<br>
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary float-left">Add Appointment</button>
              </form>
          </div>
      </div>
      </div>      