<div id="wrapper">
  <%- include ('./partials/sidebar') %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default outer">
                <div class="panel-heading headerbar">
                  <h2 class="text-center">Dashboard</h2>
                </div>
                <div class="panel-body text-justify">
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
