<div id="wrapper">
  <%- include ('./partials/sidebar') %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default outer">
              <div class="panel-heading headerbar">
                <h2 class="text-center">Doctors</h2>
              </div>
              <div class="panel-body text-justify"></div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <% if (message) { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %> <% if (doctor) { %>
    
      <div class="wrapperr wrapper--w680">
        <div class="cardd card-4">
          <div class="card-body">
            <form
              class="add-patients-form"
              action=""
              method="post"
              enctype="multipart/form-data"
            >
              <div class="roww row-space">
                <div class="col-6">
                  <div class="input-group">
                    <label class="label1">First Name</label>
                    <input class="input--style-4" type="text" name="firstname" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group">
                    <label class="label1">Last Name</label>
                    <input class="input--style-4" type="text" name="lastname" />
                  </div>
                </div>
                <div class="col-3"></div>
              </div>
              <div class="roww row-space">
                <div class="col-6">
                  <div class="input-group">
                    <label class="label1">Specialist</label>
                    <div class="p-t-10">
                      <label class="radio-container m-r-45"
                        >Dentist
                        <input type="radio" checked="checked" name="specialist" value="Dentist"/>
                        <span class="checkmark"></span>
                      </label>
                      <label class="radio-container"
                        >Cardiologist
                        <input type="radio" name="specialist" value="Cardiologist"/>
                        <span class="checkmark"></span>
                      </label>
                      <label class="radio-container"
                        >Surgeon
                        <input type="radio" name="specialist" value="Surgeon"/>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group">
                    <label class="label1">Phone Number</label>
                    <input class="input--style-4" type="number" name="contact" />
                  </div>
                </div>
              </div>
              <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    <% } else { %>
    <p class="text-center">
      doctor Not Found. Go <a href="/dashboard/Add-doctor">here</a> to add
      doctor.
    </p>
    <% } %>
  </div>
</div>
