@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }
  /* html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;} */
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }
}

/* Top Navigation */

.navbar-right {
  background-color: #2176dd;
}

.top-nav {
  height: 50px;
  padding: 0 15px;
  background-color: #2176dd;
}

.top-nav > li {
  display: inline-block;
  float: left;
}

.top-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: #2176dd;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: black;
  background-color: #2176dd;
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid #2176dd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #2176dd;
  -webkit-box-shadow: 0 6px 12px #2176dd;
  box-shadow: 0 6px 12px #2176dd;
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* Side Navigation */

@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 50px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    border-top: 1px rgba(0, 0, 0, 0.747) solid;
    overflow-y: auto;
    background-color: #2176dd;
    overflow-x: hidden;
    padding-bottom: 100px;
  }

  .side-nav > li > a {
    width: 225px;
    height: 14vh;
    border-bottom: 1px #2176dd solid;
    font-size: 24px;
    color: white;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    color: #2176dd !important;
    background-color: #2176dd;
    border-left: 3px solid black;
  }
  .side-nav > li > ul {
    padding: 0;
    border-bottom: 1px #2176dd solid;
  }

  .side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
    color: #fff !important;
  }

  .side-nav > li > ul > li > a:hover {
    color: #2176dd !important;
  }

  .navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 50px;
    line-height: 1em;
    text-align: center;
    padding: 2px;
  }

  .navbar .nav > li > a:hover > .label {
    top: 10px;
  }

  .navbar-brand {
    padding: 5px 15px;
  }

  .navbar {
    background-color: #2176dd;
  }
}
